<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset={+IO.encoding+}" />
		<meta name="generator" content="JsDoc Toolkit" />
		{! Link.base = "../"; /* all generated links will be relative to this */ !}
		<title>JsDoc Reference - {+data.alias+}</title>

		<style type="text/css">
			{+include("static/default.css")+}
		</style>
	</head>

	<body>
<!-- ============================== header ================================= -->	
		<!-- begin static/header.html -->
		{+include("static/header.html")+}
		<!-- end static/header.html -->

<!-- ============================== classes index ============================ -->
		<div id="index">
			<!-- begin publish.classesIndex -->
			{+publish.classesIndex+}
			<!-- end publish.classesIndex -->
		</div>
		
		<div id="content">
<!-- ============================== class title ============================ -->
			<h1 class="classTitle">
				{!
					var classType = "";
					
					if (data.isBuiltin()) {
						classType += "Built-in ";
					}
					
					if (data.isNamespace) {
						if (data.is('FUNCTION')) {
							classType += "Funkce ";
						}
						classType += "Namespace ";
					}
					else {
						classType += "Třída ";
					}
				!}
				{+classType+}{+data.alias+}
			</h1>

<!-- ============================== class summary ========================== -->			
			<p class="description">
				{+resolveLinks(data.classDesc)+}

				<if test="data.augments.length"><br />Rozšiřuje
					{+
						data.augments
						.sort()
						.map(
							function($) { return new Link().toSymbol($); }
						)
						.join(", ")
					+}
				</if>

                <if test="data.comment.getTag('signal').length">
                    <br/>
                    Posílá tyto signály: 
                   	<ul>
						<for each="signal" in="data.comment.getTag('signal')">
							{! 
								var parts = signal.desc.split(" ");
								var signalName = parts.shift();
								var signalLabel = (parts.length ? " - "+parts.join(" ") : "");
							!}
							<li><strong>{+signalName+}</strong>{+signalLabel+}</li>
						</for>
					</ul>
                </if>

				<if test="!data.isBuiltin()">{# isn't defined in any file #}
					<br /><em>Definováno v: </em> {+new Link().toSrc(data.srcFile)+}
				</if>
			</p>

<!-- ============================== constructor summary ==================== -->			
			{! var primary = data; primary.__label = primary.alias; var f = data.methods.filter(function($){return $.name == "$constructor"}); if (f.length) { primary = f[0]; primary.__label = primary.memberOf; } !}
			<if test="!data.isBuiltin() && (data.isNamespace || data.is('CONSTRUCTOR'))">
			<table class="summaryTable" cellspacing="0" summary="Souhrn konstruktoru dokumentovaného ve třídě {+primary.__label+}.">
				<caption>Konstruktor - souhrn</caption>
				<thead>
					<tr>
						<th scope="col">Atributy konstruktoru</th>
						<th scope="col">Název a popis kontruktoru</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="attributes">{!
							if (primary.isPrivate) output += "&lt;privátní&gt; ";
							if (primary.isInner) output += "&lt;inner&gt; ";
						!}&nbsp;</td>
						<td class="nameDescription" {!if (primary.comment.getTag("hilited").length){output += 'style="color: red"'}!}>
							<div class="fixedFont">
								<b>{+ new Link().toSymbol(primary.__label).inner('constructor')+}</b><if test="classType != 'Namespace '">{+ makeSignature(primary.params) +}</if>
							</div>
							<div class="description">{+resolveLinks(primary.desc)+}</div>
						</td>
					</tr>
				</tbody>
			</table>
			</if>

<!-- ============================== properties summary ===================== -->
			<if test="data.properties.length">
				{! var ownProperties = data.properties.filter(function($){return $.memberOf == data.alias && !$.isNamespace}).sort(makeSortby("name")); !}
				<if test="ownProperties.length">
				<table class="summaryTable" cellspacing="0" summary="Souhrn vlastností dokumentovaných ve třídě {+data.alias+}.">
					<caption>Vlastnosti - souhrn</caption>
					<thead>
						<tr>
							<th scope="col">Atributy vlastnosti</th>
							<th scope="col">Název a popis vlastnosti</th>
						</tr>
					</thead>
					<tbody>
					<for each="member" in="ownProperties">
						<tr>
							<td class="attributes">{!
								if (member.isConstant) {
									output += "&lt;konstanta&gt;";
								} else {
									var arr = [];
									if (member.isPrivate) arr.push("&lt;privátní&gt;");
									if (member.isInner) arr.push("&lt;inner&gt;");
									if (member.isStatic) arr.push("&lt;statická&gt;");
									output += arr.join(",");
								}
							!}</td>
							<td class="nameDescription">
								<div class="fixedFont">
								<if test="member.isStatic && member.memberOf != '_global_'">{+member.memberOf+}.</if><b>{+new Link().toSymbol(member.alias).withText(member.name)+}</b>
								</div>
								<div class="description">{+resolveLinks(member.desc)+}</div>
							</td>
						</tr>
					</for>
					</tbody>
				</table>
				</if>
				
				<if test="data.inheritsFrom.length">
				<dl class="inheritsList">
				{!
					var borrowedMembers = data.properties.filter(function($) {return $.memberOf != data.alias});
					
					var contributers = [];
					borrowedMembers.map(function($) {if (contributers.indexOf($.memberOf) < 0) contributers.push($.memberOf)});
					for (var i = 0, l = contributers.length; i < l; i++) {
						output +=
							"<dt>Vlastnosti zděděné ze třídy "+new Link().toSymbol(contributers[i])+": </dt>"
							+
							"<dd>" +
							borrowedMembers
							.filter(
								function($) { return $.memberOf == contributers[i] }
							)
							.sort(makeSortby("name"))
							.map(
								function($) { return new Link().toSymbol($.alias).withText($.name) }
							)
							.join(", ")
							+
							"</dd>";
					}
				!}
				</dl>
				</if>
			</if>

<!-- ============================== methods summary ======================== -->
			<if test="data.methods.length">
				{! var ownMethods = data.methods.filter(function($){return $.memberOf == data.alias  && !$.isNamespace && $.name != "$constructor"}).sort(makeSortby("name")); !}
				<if test="ownMethods.length">
				<table class="summaryTable" cellspacing="0" summary="Souhrn metod dokumentovaných ve třídě {+data.alias+}.">
					<caption>Metody - souhrn</caption>
					<thead>
						<tr>
							<th scope="col">Atributy metody</th>
							<th scope="col">Jméno a popis metody</th>
						</tr>
					</thead>
					<tbody>
					<for each="member" in="ownMethods">
						<tr>
							<td class="attributes">{!
								var arr = [];
								if (member.isPrivate) arr.push("&lt;privátní&gt;");
								if (member.isInner) arr.push("&lt;inner&gt;");
								if (member.isStatic) arr.push("&lt;statická&gt;");
								output += arr.join(",");
							!}</td>
							<td class="nameDescription">
								<div class="fixedFont"><if test="member.isStatic && member.memberOf != '_global_'">{+member.memberOf+}.</if><b>{+new Link().toSymbol(member.alias).withText(member.name)+}</b>{+makeSignature(member.params)+}
								</div>
								<div class="description">{+resolveLinks(member.desc)+}</div>
							</td>
						</tr>
					</for>
					</tbody>
				</table>
				</if>
				
				<if test="data.inheritsFrom.length">
				<dl class="inheritsList">
				{!
					var borrowedMembers = data.methods.filter(function($) {return $.memberOf != data.alias});
					var contributers = [];
					borrowedMembers.map(function($) {if (contributers.indexOf($.memberOf) < 0) contributers.push($.memberOf)});
					for (var i = 0, l = contributers.length; i < l; i++) {
						output +=
							"<dt>Metody zděděné ze třídy "+new Link().toSymbol(contributers[i])+": </dt>"
							+
							"<dd>" +
							borrowedMembers
							.filter(
								function($) { return $.memberOf == contributers[i] }
							)
							.sort(makeSortby("name"))
							.map(
								function($) { return new Link().toSymbol($.alias).withText($.name) }
							)
							.join(", ")
							+
							"</dd>";
					}
				
				!}
				</dl>
				</if>
			</if>

<!-- ============================== constructor details ==================== -->		
			<if test="!data.isBuiltin() && (data.isNamespace || data.is('CONSTRUCTOR'))">
			<div class="details"><a name="constructor"> </a>
				<div class="sectionTitle">
					Konstruktor - detail
				</div>
				
				<div class="fixedFont">{!
					if (primary.isPrivate) output += "&lt;privátní&gt; ";
					if (primary.isInner) output += "&lt;inner&gt; ";
				!}
						<b>{+ primary.__label +}</b><if test="classType != 'Namespace '">{+ makeSignature(primary.params) +}</if>
				</div>
				
				<div class="description">
					{+resolveLinks(primary.desc)+}
					<if test="primary.author"><br /><em>Autor: </em>{+primary.author+}.</if>
				</div>
				
				<if test="data.example.length">
				<for each="example" in="data.example">
				<pre class="code">{+example+}</pre>
				</for>
				</if>
				
				
					<if test="primary.params.length">
						<dl class="detailList">
						<dt class="heading">Parametry:</dt>
						<for each="item" in="primary.params">
							<dt>
								{+((item.type)?""+("<span class=\"light fixedFont\">{"+(new Link().toSymbol(item.type)+"}</span> ")) : "")+} <b>{+item.name+}</b>
								<if test="item.isOptional"><em>volitelný<if test="item.defaultValue">, výchozí: {+item.defaultValue+}</if></em></if>
							</dt>
								<dd>{+resolveLinks(item.desc)+}</dd>
						</for>
						</dl>
					</if>
					<if test="primary.deprecated">
						<dl class="detailList">
						<dt class="heading">Zastaralé:</dt>
						<dt>
							{+resolveLinks(primary.deprecated)+}
						</dt>
						</dl>
					</if>
					<if test="primary.since">
						<dl class="detailList">
						<dt class="heading">Od:</dt>
							<dd>{+ primary.since +}</dd>
						</dl>
					</if>
					<if test="primary.exceptions.length">
						<dl class="detailList">
						<dt class="heading">Vyhazuje:</dt>
						<for each="item" in="primary.exceptions">
							<dt>
								{+((item.type)?"<span class=\"light fixedFont\">{"+(new Link().toSymbol(item.type))+"}</span> " : "")+} <b>{+item.name+}</b>
							</dt>
								<dd>{+resolveLinks(item.desc)+}</dd>
						</for>
						</dl>
					</if>
					<if test="primary.returns.length">
						<dl class="detailList">
						<dt class="heading">Vrací:</dt>
						<for each="item" in="primary.returns">
								<dd>{+((item.type)?"<span class=\"light fixedFont\">{"+(new Link().toSymbol(item.type))+"}</span> " : "")+}{+resolveLinks(item.desc)+}</dd>
						</for>
						</dl>
					</if>
					<if test="primary.requires.length">
						<dl class="detailList">
						<dt class="heading">Vyžaduje:</dt>
						<for each="item" in="primary.requires">
							<dd>{+ resolveLinks(item) +}</dd>
						</for>
						</dl>
					</if>
					<if test="primary.see.length">
						<dl class="detailList">
						<dt class="heading">Viz též:</dt>
						<for each="item" in="primary.see">
							<dd>{+ new Link().toSymbol(item) +}</dd>
						</for>
						</dl>
					</if>

			</div>
			</if>

<!-- ============================== field details ========================== -->		
			<if test="defined(ownProperties) && ownProperties.length">
				<div class="sectionTitle">
					Vlastnosti - detailně
				</div>
				<for each="member" in="ownProperties">
					<a name="{+Link.symbolNameToLinkName(member)+}"> </a>
					<div class="fixedFont">{!
						if (member.isConstant) {
							output += "&lt;konstanta&gt;";
						} else {
							var arr = [];
							if (member.isPrivate) arr.push("&lt;privátní&gt;");
							if (member.isInner) arr.push("&lt;inner&gt;");
							if (member.isStatic) arr.push("&lt;statická&gt;");
							output += arr.join(",");
						}
					!}
					
					<if test="member.type"><span class="light">{{+new Link().toSymbol(member.type)+}}</span></if>
					<if test="member.isStatic && member.memberOf != '_global_'"><span class="light">{+member.memberOf+}.</span></if><b>{+member.name+}</b>
					
					</div>
					<div class="description">
						{+resolveLinks(member.desc)+}
						<if test="member.srcFile != data.srcFile">
							<br />
							<em>Defined in: </em> {+new Link().toSrc(member.srcFile)+}.
						</if>
						<if test="member.author"><br /><em>Autor: </em>{+member.author+}.</if>
					</div>
					
					<if test="member.example.length">
					<for each="example" in="member.example">
					<pre class="code">{+example+}</pre>
					</for>
					</if>

						<if test="member.deprecated">
							<dl class="detailList">
							<dt class="heading">Zastaralé:</dt>
							<dt>
								{+ member.deprecated +}
							</dt>
							</dl>
						</if>
						<if test="member.since">
							<dl class="detailList">
							<dt class="heading">Od:</dt>
								<dd>{+ member.since +}</dd>
							</dl>
						</if>
						<if test="member.see.length">
							<dl class="detailList">
							<dt class="heading">Viz též:</dt>
							<for each="item" in="member.see">
							<dd>{+ new Link().toSymbol(item) +}</dd>
							</for>
							</dl>
						</if>
						<if test="member.defaultValue">
							<dl class="detailList">
							<dt class="heading">Výchozí hodnota:</dt>
							<dd>
								{+resolveLinks(member.defaultValue)+}
							</dd>
							</dl>
						</if>

					<if test="!$member_last"><hr /></if>
				</for>
			</if>

<!-- ============================== method details ========================= -->		
			<if test="defined(ownMethods) && ownMethods.length">
				<div class="sectionTitle">
					Metody - detailně
				</div>
				<for each="member" in="ownMethods">
					<a name="{+Link.symbolNameToLinkName(member)+}"> </a>
					<div class="fixedFont">{!
						if (member.isPrivate) output += "&lt;private&gt; ";
						if (member.isInner) output += "&lt;inner&gt; ";
						if (member.isStatic) output += "&lt;static&gt; ";
					!}
					
					<if test="member.type"><span class="light">{{+new Link().toSymbol(member.type)+}}</span></if>
					<if test="member.isStatic && member.memberOf != '_global_'"><span class="light">{+member.memberOf+}.</span></if><b>{+member.name+}</b>{+makeSignature(member.params)+}
					
					</div>
					<div class="description">
						{+resolveLinks(member.desc)+}
						<if test="member.srcFile != data.srcFile">
							<br />
							<em>Definováno v: </em> {+new Link().toSrc(member.srcFile)+}.
						</if>
						<if test="member.author"><br /><em>Autor: </em>{+member.author+}.</if>
					</div>
					
					<if test="member.example.length">
					<for each="example" in="member.example">
					<pre class="code">{+example+}</pre>
					</for>
					</if>
					
						<if test="member.params.length">
							<dl class="detailList">
							<dt class="heading">Parametry:</dt>
							<for each="item" in="member.params">
								<dt>
									{+((item.type)?"<span class=\"light fixedFont\">{"+(new Link().toSymbol(item.type))+"}</span> " : "")+}<b>{+item.name+}</b>
									<if test="item.isOptional"><em>volitelný<if test="item.defaultValue">, výchozí: {+item.defaultValue+}</if></em></if>
								</dt>
								<dd>{+resolveLinks(item.desc)+}</dd>
							</for>
							</dl>
						</if>
						<if test="member.deprecated">
							<dl class="detailList">
							<dt class="heading">Zastaralé:</dt>
							<dt>
								{+member.deprecated+}
							</dt>
							</dl>
						</if>
						<if test="member.since">
							<dl class="detailList">
							<dt class="heading">Od:</dt>
								<dd>{+ member.since +}</dd>
							</dl>
							</dl>
						</if>
						<if test="member.exceptions.length">
							<dl class="detailList">
							<dt class="heading">Vyhazuje:</dt>
							<for each="item" in="member.exceptions">
								<dt>
									{+((item.type)?"<span class=\"light fixedFont\">{"+(new Link().toSymbol(item.type))+"}</span> " : "")+} <b>{+item.name+}</b>
								</dt>
								<dd>{+resolveLinks(item.desc)+}</dd>
							</for>
							</dl>
						</if>
						<if test="member.returns.length">
							<dl class="detailList">
							<dt class="heading">Vrací:</dt>
							<for each="item" in="member.returns">
								<dd>{+((item.type)?"<span class=\"light fixedFont\">{"+(new Link().toSymbol(item.type))+"}</span> " : "")+}{+resolveLinks(item.desc)+}</dd>
							</for>
							</dl>
						</if>
						<if test="member.requires.length">
							<dl class="detailList">
							<dt class="heading">Vyžaduje:</dt>
							<for each="item" in="member.requires">
								<dd>{+ resolveLinks(item) +}</dd>
							</for>
							</dl>
						</if>
						<if test="member.see.length">
							<dl class="detailList">
							<dt class="heading">Viz též:</dt>
							<for each="item" in="member.see">
								<dd>{+ new Link().toSymbol(item) +}</dd>
							</for>
							</dl>
						</if>

					<if test="!$member_last"><hr /></if>
				</for>
			</if>
			
			<hr />
		</div>
		
<!-- ============================== footer ================================= -->
		<div class="fineprint" style="clear:both">
			<if test="JSDOC.opt.D.copyright">&copy; {+new Date().getFullYear()+" "+JSDOC.opt.D.copyright+}<br /></if>
			Dokumentace vygenerována nástrojem <a href="http://code.google.com/p/jsdoc-toolkit/" target="_blank">JsDoc Toolkit</a> {+JSDOC.VERSION+}, {+new Date()+}
		</div>
	</body>
</html>
