.two-state-switch { 
	background-color:#f9fcfd; border:1px solid #aeaeae; float:right; margin-top:13px; cursor:pointer; color:#666;
	width:97px; border:1px solid #c4c4c4; position:relative; height:23px;
	border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
	box-shadow:inset 0px 2px 6px 1px #bbb; -webkit-box-shadow:inset 0px 2x 6px 1px #bbbbbb;
	text-shadow:0px 1px 1px #ffffff;
}

.two-state-switch span {
	position: absolute;
	font-size: 12px;
	display: block;
	text-align: center;
	line-height: 23px;
	width:48px;
	top: 0px;
}

.two-state-switch .label-0 {
	left: 0px;
}

.two-state-switch .label-1 {
	left: 49px;
}

.two-state-switch button {
	box-sizing:content-box; -moz-box-sizing:content-box;
	position:absolute; cursor:pointer; top:-1px; width:48px; border:1px solid #aeaeae; padding:0px; height:23px;
	border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dcdcdc)); 
	background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -o-linear-gradient(top, #fefefe, #dcdcdc);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fefefe", endColorstr="#dcdcdc"); 
	
}

.two-state-switch.state-0 button {
	left: -1px;
}

.two-state-switch.state-1 button {
	left: 48px;
}

