/* --- Okno --- */

#login-overlay {
	z-index: 998;
	background: #fff;
	filter: alpha(opacity=70);
	opacity: 0.7;
	transition: opacity 0.7s;
	-webkit-transition: opacity 0.7s;
}

#login-overflow {
	z-index: 999;
}

.login-window {
	position: fixed;
	left: 0;
	top: 0;
	box-shadow: 0 0 70px rgba(119, 126, 133, 0.71);
	border: 4px solid #ffa92d;
	border-radius: 14px;
	padding: 60px 60px 54px;
	background: url(img/seznam.png) no-repeat 53px 48px #fffdf3;
	transition: opacity 0.7s, transform 0.7s;
	-webkit-transition: opacity 0.7s, -webkit-transform 0.7s;
}

.login-window.done:before {
	content: url(img/pes2.png);
	position: absolute;
	right: -79px;
	bottom: -150px;
}

.login-window.register:before {
	content: url(img/pes3.png);
	position: absolute;
	right: -155px;
	bottom: -30px;
}

.login-close { 
	position: absolute;
	cursor: pointer;
	top: -28px;
	right: -28px;
	width: 26px; 
	height: 26px;
	border: 4px solid #ffa92d;	
	border-radius: 50%;
	background: url(img/close.png) no-repeat 50% 50% #fffdf3;
}

.login-fade #login-overlay {
	opacity: 0;
	filter: alpha(opacity=0);
}

.login-fade .login-window {
	opacity: 0;
	filter: alpha(opacity=0);
}

.login-window.left {
	opacity: 0;
	filter: alpha(opacity=0);
	transform: translate(-100%, 0);
	-webkit-transform: translate(-100%, 0);
}

.login-window.right {
	opacity: 0;
	filter: alpha(opacity=0);
	transform: translate(100%, 0);
	-webkit-transform: translate(100%, 0);
}

/* --- Spolecne --- */

.loginForm {
	font-family: arial, sans-serif;
	margin: 48px 0 0;
	font-size: 15px;
	color: #333;
	text-align: left;
}

.loginForm > div {
	margin-bottom: 4px;
	width: 360px;
	line-height: 1.5;
}

.loginForm > div:first-of-type {
	margin-bottom: 20px;
}

.loginForm .input {
	position: relative;
	display: inline-block;
}

.loginForm .input .icon {
	position: absolute;
	right: 0;
	top: 0;
	width: 20px;
	height: 100%;
	background-position: 100% 50%;
	background-repeat: no-repeat;
}

.loginForm .error input {
	color: #000;
	background-color: #faffbd;
	font-weight: bold;
}

.loginForm .error .icon {
	background-image: url(img/error.png);
	cursor: pointer;
}

.loginForm .ok .icon {
	background-image: url(img/ok.png);
}


/* nelze sloucit */
.loginForm ::-webkit-input-placeholder { color: #808080; }
.loginForm :-moz-placeholder { color: #808080; }
.loginForm .placeholder { color: #808080; }

.loginForm input[type=text], .loginForm input[type=password], .loginForm input[type=submit], .loginForm input[type=button] {
	font-family: arial, sans-serif;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border-width: 1px;
	border-style: solid;
	height: 31px;
	line-height: 31px;
	vertical-align: top; /* ve FF se jinak nezarovnavalo heslo a submit */
}

.loginForm input[type=text], .loginForm input[type=password] { 
	font-size: 16px;
	padding: 0 21px 0 9px;
	border-color: #848484 #c1c1c1 #e0e0e0;
}

.loginForm input[type=text] {
	width: 328px;
}

.loginForm input[type=submit], .loginForm input[type=button] {
	padding: 0;
	font-size: 15px;
	width: 136px;
	text-align: center;
	font-weight: bold;
	color: #000;
	border-color: #c5c5c5 #7d7d7d #7b7b7b #a1a1a1;
	cursor: pointer;
	background: #f3f3f3; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #ececec 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ececec 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#ececec 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#ececec 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#ececec 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
}

.loginForm input[type=submit]:active, .loginForm input[type=button]:active {
	border-color: #bbb #707070 #666 #999;
	background: #ececec; /* Old browsers */
	background: -moz-linear-gradient(top,  #f6f6f6 0%, #e1e1e1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#e1e1e1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f6f6f6 0%,#e1e1e1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f6f6f6 0%,#e1e1e1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f6f6f6 0%,#e1e1e1 100%); /* IE10+ */
	background: linear-gradient(top,  #f6f6f6 0%,#e1e1e1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-9 */
}

.loginForm div.text {
	font-size: 16px;
}

.loginForm .info {
	margin-top: 45px;
}

.loginForm a {
	color: #0000d1;
	text-decoration: none;
}

.loginForm input[type=checkbox] {
	margin-left: 0;
	margin-right: 7px;
	cursor: pointer;
}

/* --- Login --- */

#loginForm input[type=password] {
	width: 188px;
}

#loginForm input[type=submit] {
	margin-left: 2px;
}

#loginForm label {
	cursor: pointer;
}

#loginForm li {
	margin-bottom: 0.5em;
}

#loginForm div.error strong {
	color: #de0000;
}

#loginAd.adFull {
	margin-top: 11px;
	padding-left: 23px;
	float: right;
}

#loginAd.adFull:before {
	content: "Reklama";
	color: #999;
	font-size: 10px;
	font-family: arial, sans-serif;
	text-transform: uppercase;
}

#loginAd.adFull + #loginForm {
	position: relative;
	margin-right: 325px;
	padding-right: 70px;
	min-height: 292px; /* 270 = reklama + 11 = reklama nahore + 11 = reklama dole */
}

#loginAd.adFull + #loginForm #line {
	height: 100%;
	border-radius: 2px;
	width: 4px;
	background-color: #e6e4db;
	position: absolute;
	right: 0px;
	top: 0px;
}

#loginAd h5 {
	color: #bfb6b3;
	font-family: arial, sans-serif;
	font-weight: normal;
}


/* --- Registrace --- */

#registerForm input[type=password] {
	width: 145px;
}

#registerForm .input.second input[type=password] {
	margin-left: 6px;
}

#registerForm div.error, #verifyForm div.error {
	color: #de0000;
	font-weight: bold;
}

#registerForm #passwordMeter {
	position: absolute;
	left: 1px;
	bottom: 1px;
	width: 175px;
	height: 3px;
	background-color: #eeeeee;
}

#registerForm #passwordMeter div {
	height: 100%;
}

/* --- Validace --- */

#verifyForm input[type=text] {
	width: 188px;
}

#verifyForm input[type=submit] {
	margin-left: 2px;
}

#verifyForm div.resend {
	margin-top: 30px;
}

/* --- Gratulace --- */

#doneForm div.done {
	margin-top: 50px;
	margin-bottom: 50px;
}

#doneForm input {
	width: 358px;
}

/* --- Responsive --- */

@media screen and (max-width: 800px) {
	.login-window {
		padding: 30px 24px 14px;
		background-position: 24px 28px;
	}

	.login-window.register:before, .login-window.done:before {
		content: "";
	}

	.login-close { 
		top: -38px;
		right: -4px;
	}

	.loginForm > div {
		width: 262px;
	}

	.loginForm input[type=text], #loginForm input[type=password], #registerForm input[type=password] {
		width: 230px;
	}

	#loginForm input[type=submit], #registerForm .input.second input[type=password] {
		margin-left: 0;
		margin-top: 4px;
	}

	.loginForm input[type=submit], .loginForm input[type=button] {
		width: 136px;
	}

	#registerForm #passwordMeter {
		width: 260px;
	}

	#verifyForm input[type=text] {
		width: 110px;
	}

	#verifyForm input[type=submit] {
		width: 116px;
	}

	#doneForm input {
		width: 260px;
	}

	#doneForm div.done {
		margin-bottom: 20px;
	}

	#loginAd, #loginForm #line {
		display: none;
	}

	#loginForm {
		margin-right: 0 !important;
		padding-right: 0 !important;
	}
}
