/*--------- modal windows - obecne ---------*/
.mw-overlay {
	z-index:998;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:2000px;
	background:white;
	filter: alpha(opacity=80);
	opacity:0.8;
}

.mw-window {
	z-index:999;
	position:fixed;
	left:0;
	top:0;
	display:none;
}
.mw-contentWrap {
	background:white; 
	border:1px solid black;
}
.mw-window .mw-content { 
}
.mw-window .mw-close { 
	position:absolute;
	cursor:pointer;
	top:0;
	right:0;
}
table.mw-contentWrap		{ border-collapse:collapse; margin:0; padding:0; }
table.mw-contentWrap tr, 
 table.mw-contentWrap td	{ margin:0; padding:0; }
/*-----------------------------------------*/

/*
 * alternativni vzhled overlay
 */
.mw-overlay.turquoise {
	background:#dff;
}


/*
 * default okno
 */ 
.mw-contentWrap {
	background:#f3f3f3; 
	border:1px solid black;
	padding:10px;
}
.mw-window .mw-content { 
	width:300px;
}
.mw-window .mw-close { 
	top:2px;
	right:5px;
}

 
/*
 * oranzove okraje se stinem smerujicim doleva dolu, realizovano pomoci tabulky
 */
 .mw-window.bordersOrange2	{
	padding:25px 0 0 0;
}
.mw-window.bordersOrange2 .mw-contentWrap { 
	background:#fffdf3; 
	border:none;
}
.mw-window.bordersOrange2 .mw-content { 
	margin:10px 50px 10px 50px;
	width:400px;
}
.mw-window.bordersOrange2 .mw-close {
	top:2px;
	right:4px;
	width:34px; 
	height:34px;
	background:url(../img/mw_close_whole_orange.png) no-repeat 50% 50%;
}

 
/*
 * oranzove okraje s rovnomernou vnejsi zari, vytvoreno pomoci CSS(3), 
 * ve starych prohlizecich pomoci tabulky s obrazky (okno ma tridu "mw-imgBorders")
 */
.mw-window.bordersOrange {
	padding:38px;
}
.mw-window.bordersOrange .mw-contentWrap { 
	background:#fffdf3; 
	border:4px solid #ffa92e;
	padding:20px;
	
	-webkit-border-radius:14px;
	-moz-border-radius:14px;
	border-radius:14px;
	
	-moz-box-shadow:0 0 38px 0 #A0A0A0;
	-webkit-box-shadow:0 0 38px 0 #A0A0A0;
	box-shadow:0 0 38px 0 #A0A0A0;
}
.mw-window.bordersOrange .mw-content { 
	margin:15px 35px;
	width:500px;
}
.mw-window.bordersOrange .mw-close {
	top:14px;
	right:15px;
	width:26px; 
	height:26px;
	border:4px solid #ffa92e;
	-webkit-border-radius:17px;
	-moz-border-radius:17px;	
	border-radius:17px;
	background:url(../img/mw_close_orange.png) no-repeat 50% 50% #fffdf3;
}
.mw-window.mw-imgBorders.bordersOrange {
	padding:0;
}
.mw-window.mw-imgBorders.bordersOrange .mw-contentWrap { 
	background:transparent; 
	border:none;
	padding:0;
	
	-webkit-border-radius:14px;
	-moz-border-radius:14px;
	border-radius:14px;
	
	-moz-box-shadow:0 0 38px 0 #A0A0A0;
	-webkit-box-shadow:0 0 38px 0 #A0A0A0;
	box-shadow:0 0 38px 0 #A0A0A0;
}
.mw-window.mw-imgBorders.bordersOrange .mw-contentScrollbars {
	background:#fffdf3;
}
.mw-window.mw-imgBorders.bordersOrange .mw-content { 
	margin:15px 35px;
}
.mw-window.mw-imgBorders.bordersOrange .mw-close {
	top:15px;
	right:17px;
	width:34px; 
	height:34px;
	border:none;
	background:url(../img/mw_close_whole_orange.png) no-repeat 50% 50% transparent;
}

/* textovy zaviraci prvek */
.mw-window.textCloseButton.bordersOrange .mw-close {
	top:50px;
	right:55px;
	width:auto;
	height:auto;
	border:none;
	background:transparent;
	color:#ffa92e;
	font-weight:bold;
	font-family:sans-serif;
	text-decoration:underline;
}

/* zadny zaviraci prvek */
.mw-window.noClose .mw-close {
	display:none;
}

/*auto sirka obsahu*/
.mw-window.autoWidth .mw-content { 
	max-width:800px;
	width:auto;
}