/* default.css */
body
{
	font: 12px "Lucida Grande", Tahoma, Arial, Helvetica, sans-serif;
	max-width: 1000px;
	padding: 0;
	margin: 0;
}

.header
{
	clear: both;
	background-color: #ccc;
	padding: 8px;
}

h1
{
	font-size: 150%;
	font-weight: bold;
	padding: 1em 1em 0.5em;
	margin: 0 0 1em .3em;
	border: 1px solid #777;
	border-top: 0 none;
	border-radius: 0 0 6px 6px;
	box-shadow: 0 6px 6px -3px #666;
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
}

hr
{
	border: none 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #777;
	height: 1px;
	margin: 8px 0;
}

pre.code
{
	display: block;
	padding: 8px;
	border: 1px dashed #ccc;
	overflow: auto;
	background: #f3f3f3;
}

/*
 * masak@karkulka:~/www/simpleweb-jak/www/jsdoc$ java -jar jsrun.jar app/run.js -d=../../templ/documentation/ -t=templates/szn/ ../js/lib/jak.js ../js/widgets/piechart/piechart.js
 */

#index
{
	float: left;
	width: 210px;
	padding: 0 0 14px 0;
	border: 1px solid #777;
	border-left: 0 none;
	border-radius: 0 3px 3px 0;
	box-shadow: 3px 0px 6px -2px #666;
	margin-top: 28px;
	background: #f3f3f3;
	/*background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );*/
background: -moz-linear-gradient(left,  #f3f3f3 85%, #e1e1e1 94%);
background: -webkit-gradient(linear, left top, right top, color-stop(85%,#f3f3f3), color-stop(94%,#e1e1e1));
background: -webkit-linear-gradient(left,  #f3f3f3 85%,#e1e1e1 94%);
background: -o-linear-gradient(left,  #f3f3f3 85%,#e1e1e1 94%);
background: -ms-linear-gradient(left,  #f3f3f3 85%,#e1e1e1 94%);
background: linear-gradient(to right,  #f3f3f3 85%,#e1e1e1 94%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#e1e1e1',GradientType=1 );
}

h3
{
	padding: 6px 16px;
	margin: 14px 0 6px 0;
	background: #23538a;
	background: -moz-linear-gradient(left,  #23538a 85%, #1c3a6d 94%);
	background: -webkit-gradient(linear, left top, right top, color-stop(85%,#23538a), color-stop(94%,#1c3a6d));
	background: -webkit-linear-gradient(left,  #23538a 85%,#1c3a6d 94%);
	background: -o-linear-gradient(left,  #23538a 85%,#1c3a6d 94%);
	background: -ms-linear-gradient(left,  #23538a 85%,#1c3a6d 94%);
	background: linear-gradient(to right,  #23538a 85%,#1c3a6d 94%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23538a', endColorstr='#1c3a6d',GradientType=1 );
	color: #fff;
}

#content
{
	margin-left: 250px;
}

.classList
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-family: arial, sans-serif;
	font-size: 1em;
	overflow: auto;
}

.classList li
{
	padding: 0;
	margin: 0 0 8px 16px;
	font-family: "Courier New",Courier,monospace;
}

.classList li a
{
	color: #006;
	text-decoration: underline;

}

.classList li a:hover
{
	text-decoration: none;

}

.classList li a:visited
{
	color: #000;
}

.summaryTable
{
	width: 100%;
	box-shadow: 0 3px 4px -2px #666;
}

h1.classTitle
{
	font-size:170%;
	line-height:130%;
}

h2
{
	font-size: 110%;
	font-family: "Courier New",Courier,monospace;
}
caption, div.sectionTitle
{
	color: #fff;
	font-size:130%;
	text-align: left;
	padding: 3px 7px 3px 7px;
	/*border: 1px #7F8FB1 solid;*/
	border-radius: 4px 4px 0 0;
	background: #23538a;
	background: -moz-linear-gradient(top,  #23538a 0%, #1c3a6d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#23538a), color-stop(100%,#1c3a6d));
	background: -webkit-linear-gradient(top,  #23538a 0%,#1c3a6d 100%);
	background: -o-linear-gradient(top,  #23538a 0%,#1c3a6d 100%);
	background: -ms-linear-gradient(top,  #23538a 0%,#1c3a6d 100%);
	background: linear-gradient(to bottom,  #23538a 0%,#1c3a6d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23538a', endColorstr='#1c3a6d',GradientType=0 );
}

div.sectionTitle
{
	margin: 10px 0 6px;
}
.summaryTable thead { display: none; }

.summaryTable td
{
	vertical-align: top;
	padding: 4px;
	border-bottom: 1px #777 solid;
	border-right: 1px #777 solid;
}

/*col#summaryAttributes {}*/
.summaryTable td.attributes
{
	border-left: 1px #777 solid;
	width: 140px;
	text-align: right;
	padding: 4px;
}

td.attributes, .fixedFont
{
	line-height: 15px;
	color: #002EBE;
	font-family: "Courier New",Courier,monospace;
	font-size: 13px;
	padding: 0 4px;
}

.summaryTable td.nameDescription
{
	text-align: left;
	font-size: 13px;
	line-height: 15px;
}

.summaryTable td.nameDescription, .description
{
	line-height: 15px;
	padding: 4px;
	padding-left: 4px;
}

.summaryTable { margin-bottom: 8px; }

ul.inheritsList
{
	list-style: square;
	margin-left: 20px;
	padding-left: 0;
}

.detailList {
	margin-left: 20px;
	line-height: 15px;
}
.detailList dt { margin-left: 20px; }

.detailList .heading
{
	font-weight: bold;
	padding-bottom: 6px;
	margin-left: 0;
}

.light, td.attributes, .light a:link, .light a:visited
{
	color: #555;
	font-style: italic;
}

.fineprint
{
	text-align: right;
	font-size: 10px;
	color: #999;
}

div.classDescription
{
	padding: 0 8px;
}
