.editor 					{ border:1px solid #888; }
.editor-controls 			{ border-bottom:1px solid #888; background-color:#efefef; padding:4px; }
.editor-controls .separator			{ margin-left: 1px; }
.editor-controls .br 				{ display:block; }
.editor-controls .button				{ margin-left:1px; border:1px solid #efefef; cursor:pointer; }
.editor-controls .pressed			{ border:1px solid #888; background-color:#ccc;}

.editor-controls .select				{ margin-left:1px; border:1px solid #aaa; padding:2px 18px 2px 3px; font-family:verdana; font-size:70%; cursor:pointer; position:relative; top:-5px; background-image:url(../../../media/img/editor/select.gif); background-repeat:no-repeat; background-position:100% 50%; background-color:#fff; }
.editor-controls .options			{ border:1px solid #888; border-bottom:none; cursor:pointer;}
.editor-controls .options .option	{ background-color:#fff; border-bottom:1px solid #888; padding:1px; }
.editor-controls .options .mouseover	{ background-color:#ddf; border:none; border-bottom:1px solid #888; }

.editor-controls .mouseover			{ border:1px solid #666; background-color:#ddd; }
.editor-controls .disabled 			{ cursor:default !important; opacity:0.5; filter:alpha(opacity=50); }
