<html>
	<head>
		<script language="JavaScript" src="../../../jsunit/app/jsUnitCore.js"></script>
		<script language="JavaScript" src="../../../lib/jak.js"></script>
		<script language="JavaScript" src="../../../util/components.js"></script>
		<script language="JavaScript">
		/**
		 * tyto testy lze pouzit i k dodatecnemu testovani JAK.ClassMaker
		 *
		 *		 		 		
		 * COMPONENTS HIERARCHY SCHEME:
		 *  ( v zavorce jsou uvedeny nazvy instanci komponent)		 
		 *	Main
		 *		|__ Part_1	(opice)	 
		 *		|		|
		 *		|		|__ Sub_Part_1 (sub_Part_1)
		 *		|		|
		 *		|		|__ Sub_Part_2	(sub_Part_2)	  
		 *		|				 		 
		 *		|__ Part_2 (part_2)
		 *		|		|__ Sub_Part_1 (koza)
		 *		|		|
		 *		|		|__ Sub_Part_2	(pes)	
		 *		|		
		 *		|		
		 *		|			 
		 *		|
		 *		|__ Part_3 (part_3)
		 *		|
		 *		|__ Part_4	(part_4)	 		 		 		 		 
		 *
		 *
		 *
		 *	CLASS INHERITACE SCHEME
		 *	
		 *	Part_1
		 *		|__ Part_3
		 *		|
		 *		|__ Part_4
		 *		|
		 *		|__ Sub_Part_1
		 *					|___ Sub_Part_2		 		 		 		 		 		 		 		 		 
		 *
		 *
		 */		 		 		 		 		 		 		 		 		
			// main class
			Main = JAK.ClassMaker.makeClass({
				NAME:'Main',
				VERSION:'1.0',
				IMPLEMENT:JAK.Components,
				CLASS:'class'
			});
			
			Main.prototype.TOP_LEVEL = true;
			
			Main.prototype.$constructor = function(){
				this.inited = false;
				this.components = [
					{part:Part_1,name:'opice',setting:{type:'AHQ'}},
					{part:Part_2,name:'vlk'},
					{part:Part_3},
					{part:Part_4,setting:{type:'BAHQ'}}
				];
				
				this.addAllComponents();
				this.registredMethod(this.main);
			};
			
			Main.prototype.$destructor = function(){
				this.sConstructor.destroy(this);
			}
			
			Main.prototype.init = function(){
				this.inited = true;
			};
			// -->
			
			// part_1 class
			Part_1 = JAK.ClassMaker.makeClass({
				NAME:'Part_1',
				VERSION:'1.0',
				IMPLEMENT:JAK.Components,
				CLASS:'class'				
			});
			
			Part_1.prototype.$constructor = function(owner,name){
				this._owner = owner;
				this._name = name;
				this.specialValue = arguments[2] ? arguments[2].type : '';
				this.Part_1();
			};
			
			Part_1.prototype.Part_1 = function(){
				this.main = this.getMain();
				this.value = '';
				this.components = [
					{part:Sub_Part_1,name:'sub_Part_1',setting:{type:'BGHQ'}},
					{part:Sub_Part_2}
				];
				this.addAllComponents();
				this.registredMethod(this.main);		
			}
			
			Part_1.prototype.$destructor = function(){
				this.sConstructor.destroy(this);
			};
			Part_1.prototype.set = function(str){
				this.value = str;
			}
			Part_1.prototype.set.access = 'public';
			
			Part_1.prototype.get = function(str){
				return this.value;
			}
			Part_1.prototype.get.access = 'public';			
			// -->
			
			// part_2 class	
			Part_2 = JAK.ClassMaker.makeClass({
				NAME:'Part_2',
				VERSION:'1.0',
				IMPLEMENT:JAK.Components,
				CLASS:'class'				
			});
							
			Part_2.prototype.$constructor = function(owner,name){
				this._owner = owner;
				this._name = name;
				this.main = this.getMain();
				this.components = [
					{part:Sub_Part_1,name:'koza',setting:{type:'BGHQ'}},
					{part:Sub_Part_2,name:'pes'}
				];
				this.addAllComponents();
				this.registredMethod(this.main);				
				this.value = '';
			};
			
			Part_2.prototype.$destructor = function(){
				this.sConstructor.destroy(this);
			};
			Part_2.prototype.set = function(str){
				this.value = str;
			}
			Part_2.prototype.set.access = 'public setValue';
			
			Part_2.prototype.get = function(str){
				return this.value;
			}
			Part_2.prototype.get.access = 'public getValue';				
			// --->
			
			// part_3 class
			Part_3 = JAK.ClassMaker.makeClass({
				NAME:'Part_3',
				VERSION:'1.0',
				EXTEND:Part_1,
				CLASS:'class'				
			});			
			
			Part_3.prototype.$constructor = function(owner,name){
				this._owner = owner;
				this._name = name;
				this.main = this.getMain();
				this.registredMethod(this.main);
			};
			// -->

			// part_3 class
			Part_4 = JAK.ClassMaker.makeClass({
				NAME:'Part_4',
				VERSION:'1.0',
				EXTEND:Part_1,
				CLASS:'class'				
			});			
			
			Part_4.prototype.$constructor = function(owner,name){
				this._owner = owner;
				this._name = name;
				this.main = this.getMain();
				this.specialValue = arguments[2] ? arguments[2].type : '';
				this.registredMethod(this.main);
			};
			// -->			

			// part_3 class
			Sub_Part_1 = JAK.ClassMaker.makeClass({
				NAME:'Sub_Part_1',
				VERSION:'1.0',
				EXTEND:Part_1,
				CLASS:'class'				
			});			
			
			Sub_Part_1.prototype.$constructor = function(owner,name){
				this._owner = owner;
				this._name = name;
				this.components = []
				this.main = this.getMain();
				this.specialValue = arguments[2] ? arguments[2].type : '';
				this.registredMethod(this.main);
			};
			// -->

			// part_3 class
			Sub_Part_2 = JAK.ClassMaker.makeClass({
				NAME:'Sub_Part_2',
				VERSION:'1.0',
				EXTEND:Sub_Part_1,
				CLASS:'class'				
			});			
			
			Sub_Part_2.prototype.$constructor = function(owner,name){
				if(arguments[2]){
					this.callSuper('$constructor',arguments.callee)(owner,name,arguments[2])
				} else {
					this.callSuper('$constructor',arguments.callee)(owner,name,arguments[2])				
				}
			};
			// -->
			
			// Dynamicky pridavana komponenta
			Obluda = JAK.ClassMaker.makeClass({
				NAME:'Obluda',
				VERSION:'1.0',
				EXTEND:Sub_Part_1,
				CLASS:'class'				
			});
			
			Obluda.prototype.$constructor = function(owner,name){
				if(arguments[2]){
					this.callSuper('$constructor',arguments.callee)(owner,name,arguments[2])
				} else {
					this.callSuper('$constructor',arguments.callee)(owner,name)				
				}
				
				//vlastnost co se destruktorem nici
				this.superVlastnost = 'supervlastnost';
			};
			
			Obluda.prototype.$destructor = function() {
				//jednoduche destrojovani
				for(key in this) {
					this[key] = null;
				}
			}
			
			//Dynamicky pridavana komponenta 2
			Obluda2 = JAK.ClassMaker.makeClass({
				NAME: 'Obluda2',
				VERSION: '1.0',
				EXTEND: Obluda,
				CLASS: 'class'
			});
			
			Obluda2.prototype.$constructor = function(owner,name){
				this.callSuper('$constructor',arguments.callee)(owner,name);
			}
			
			Obluda2.prototype.metoda = function() {
				return true;
			}
			Obluda2.prototype.metoda.access = 'public obludackaMetoda';
			
			
			// -->
			
			function setUpPage() {
				xxx = new Main()
				setUpPageStatus = 'complete';
			};
			/*
			for(var i in xxx){
				if(i.indexOf('set') != 1){
					alert(i)
				}
			}
			*/
			// ptam se vybranych trid zda maji komponenty a ocekavam true || false
			function testHaveItComponents(){
				inform('TEST component - metoda "hasComponents"')
				assertTrue('obsahuje hlavni trida komponenty: ', xxx.hasComponents());
				assertTrue('obsahuje 1.komponenta hlavni tridy komponenty: ', xxx.opice.hasComponents());
				assertFalse('obsahuje 3.komponenta hlavni tridy komponenty ![components]: ', xxx.part_3.hasComponents());
				assertFalse('obsahuje 1. komponenta 2.komponenty hlavni tridy komponenty !components.length: ', xxx.opice.sub_Part_1.hasComponents());
			};
			
			// testuji zda structura opdovida pozadovane - viz schema skladby v zahlavi
			function testIsGoodStructure(){
				inform('TEST zda skladba objektu vyhovuje pozodavku')
				var test = {
					opice : {
						sub_Part_1:true,
						sub_Part_2:true
					},
					vlk : {
						koza:true,
						pes:true
					},
					part_3 : {},
					part_4 : {}					
				};
				
				for(var i in test){
					if(test[i]){
						assertEquals('TEST skladby 1.uroven: ', (typeof xxx[i]),'object')
						for(var j in test[i]){
							assertEquals('TEST skladby 2.uroven: ', (typeof xxx[i][j]),'object')
						}
					}
				}
			};
			
			// testuji zda se mi do hlavni tridy spravne zaregistrovali metody komponent s nastavenym "access"
			function testIsRegistredMethod(){
				inform('TEST pritomnosti registrovane metody v hlavni tride');
				var test = {
					opice : {
						opiceSet:true,
						opiceGet:true,
						sub_Part_1:{
							sub_Part_1Set:true,
							sub_Part_1Get:true
						},
						sub_Part_2:{
							sub_Part_2Set:true,
							sub_Part_2Get:true						
						}
					},
					vlk : {
						setValue:true,
						getValue:true,
						koza:{
							kozaSet : true,
							kozaGet :true
						},
						pes:{
							pesSet:true,
							pesGet:true
						}
					},
					part_3 : {
						part_3Set:true,
						part_3Get:true
					},
					part_4 : {
						part_4Set:true,
						part_4Get:true					
					}					
				};
				var str = 'function';
				for(var i in test){
					if(typeof test[i] == 'boolean'){
						assertEquals('Je registrovana tato funkce ? ' + i,(typeof xxx[i]),str);
					} else {
						for(var j in test[i]){
							if(typeof test[i][j] == 'boolean'){
								assertEquals('Je registrovana tato funkce ? ' +  j,(typeof xxx[j]),str);
							}
						}
					}
				}
			};	
			
			// test na spravnou funkcnost registrovanych metod
			function testRunningRegistredMethod(){
					inform('TEST na spravnou funkcionalitu registrovanych metod');
					xxx.opiceSet('opice');
					assertEquals('Funguje registrovana metoda dobre "xxx.opiceGet" ',xxx.opiceGet(),xxx.opice.get());
					
					var str = 'jedna'
					xxx.vlk.koza.set(str);
					var a = xxx.kozaGet();
					
					xxx.kozaSet(str)
					var b = xxx.vlk.koza.get();
					assertEquals('Funguje registrovana metoda dobre "xxx.part_2.koza.set" ',a,b) 
			};
			
			// test na dynamicke pridani komponenty za behu
			function testDynamicAddingComponent(){
				inform('TEST na pridani komponenty za chodu');
				var yyy = new Main();
				yyy.addNewComponent({part:Obluda,name:'slon',setting:{type:'slonisko'}});
				assertEquals('Prijala dynamicky vytvorena komponenta argument ? ',yyy.slon.specialValue,'slonisko')
				
				var str = 'jedna';
				yyy.slon.set(str);
				var b = yyy.slonGet();
				assertEquals('Pracuje dynamicky vytvorena komponenta dobre ?',b,str)
				
				
			};
			
			//testovani rozhrani pro odebrani komponent
			function testRemoveComponent() {
				inform('TEST odebrani komponent');
				var yyy = new Main();
				var opice = yyy.opice;
				yyy.removeComponent('opice');
				assertNotEquals('Je odebrana komponenta?', opice, yyy.opice);
				assertNotEquals('Ale referencovany objekt komponenty stale zije.', opice, null);
			}
			
			//testovani odebrani komponenty se zavolanim jejiho destructoru
			function testRemoveComponentWithDestruction() {
				inform('TEST odebrani komponenty se zavolanim destructoru');
				var yyy = new Main();
				yyy.addNewComponent({part:Obluda, name:'slon'});
				assertNotEquals('Existuje dynamicky pridana komponenta?', null, yyy.slon);
				assertEquals('Ma komponenta definovanou vlastnost?', yyy.slon.superVlastnost, 'supervlastnost');
				var slon = yyy.slon;
				assertEquals('Ma i primy odkaz na komponentu definovanou vlastnost?', slon.superVlastnost, 'supervlastnost');
				yyy.removeComponent(slon, true);
				assertNotEquals('Je komponenta odebrana?', slon, yyy.slon);
				assertEquals('Byl zavolan destructor?', slon.superVlasnost, undefined);
			}

			//testovani odregistrovani registrovane metody
			function testUnregistredMethod() {
				inform('TEST odebrani metody z rodice');
				var xxx = new Main();
				xxx.addNewComponent({part:Obluda2, name:'obluda'});
				
				assertNotEquals('Existuje dynamicky pridana komponenta?', null, xxx.obluda);
				
				assertTrue('Zaregistrovala se metoda?', xxx.obludackaMetoda());
				//odregistrace
				assertEquals('Existuje odebiraci metoda?', typeof xxx.obluda.unregistredMethod, "function");
				xxx.obluda.unregistredMethod(xxx);
				assertEquals('Metoda neexistuje', typeof xxx.obludackaMetoda, 'undefined');
			}
			
		</script>
	</head>
	<body>

	</body>
</html>
