
.jak_tooltip {
	position: absolute;
	box-sizing: border-box;
	background: #FFC;
	border: 2px solid #CC6;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
	padding: .5em;
	z-index: 10;
	border-radius: .4em;
}

/* arrow */
.jak_tooltip:after {
	border: solid transparent;
	content: ' ';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-width: 10px;
	display: inline-block;
	display: none\0/; /* IE 8 hack */
}

.jak_tooltip._left:after {
	left: 100%;
	top: 50%;
	margin-top: -10px;
	border-left-color: #FFC;
}

.jak_tooltip._right:after {
	right: 100%;
	top: 50%;
	margin-top: -10px;
	border-right-color: #FFC;
}

.jak_tooltip._bottom:after {
	left: 50%;
	bottom: 100%;
	margin-left: -10px;
	border-bottom-color: #FFC;
}

.jak_tooltip._top:after {
	left: 50%;
	top: 100%;
	margin-left: -10px;
	border-top-color: #FFC;
}
